<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-8');
</script>

<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9">
      <iframe src='https://www.wabi.tv/templates/2015_JW_frame?name=Livestream_/livestream_embed&token=https://ad-playlistserver.aws.syncbak.com/playlist/13613390/master.m3u8?access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkdyYXkyMDE2MDgyOSJ9.eyJtaWQiOjEzNjEzMzkwLCJtZDUiOiI2Y2M5MzczYjIxZWIwNzQ4ZDA0YTRlYzYyMjU2YjBhMiIsImlhdCI6MTQ5NzM4MTU5NywiaXNzIjoiU3luY2JhayIsInN1YiI6IkdyYXkifQ.qJPiMCbnGjAn9wgPrGjVl3M9Xfc4CVSyoZTZ5OH-1jo' width='640' height='360' frameborder='0' scrolling='none' style='max-width:100%'></iframe>
      <h4>About {{ stationName }}</h4>
  <p>{{description}}</p>