<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-8');
</script>

<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9"><iframe 
    src="https://www.filmon.com/tv/channel/export?channel_id=4280&autoPlay=1" 
    width="800" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" 
    allowTransparency="true" allowFullScreen="true">
  </iframe></span>
  <p>{{description}}</p>