<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-8');
</script>

<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

<h3>Choose your Educational / Informational Channel</h3>
<ul style="list-style-type: none;" class="col-xl-3 col-lg-3 col-md-3 col-sm-10 col-xs-10">
  <h6 class="top">{{state}}</h6>
  <li class="nav-item">
    <a class="nav-link" routerLink="/wbtw13">WBTW 13</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/wsoctv9">WSOCTV 9</a>
  </li>
  </ul>