<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-8');
</script>

<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

<div class="container">
    <table width="571" border="0" cellpadding="5" cellspacing="0">
      <tr bgcolor="#333333">
        <td colspan="2" align="center" valign="bottom"><div id="subHeader" align="center">INLAND EMPIRE TELEVISION NETWORK<br />
          ADVERTISING PACKAGES <br />
          </div></td>
        </tr>
 </table>
 </div>