<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

<h3>About {{sitename}}</h3>
<p>
{{sitename}}&trade; is part of the Inland Empire Television Network&trade;, located east of Los Angeles and west of Palm Springs, in the heart of Southern California, the Inland Empire. The Inland Empire (I.E.) is one of the largest and fastest growing regional areas in the United States. The "I.E." encompasses the counties of Riverside and San Bernardino, and is home to the Inland Empire Television Network&trade;</p>

<p>{{sitename}}&trade; is an on-location television production that ventures throughout Southern California and beyond to showcase special travel locations, entertainment, tourist attractions, upcoming current events, and local news from around the world. Along with fine dining reviews and MUCH MORE!</p>

<p>{{sitename}}&trade; can be viewed online on the "Inland Empire Television Network". It is easily accessible and broadcasted worldwide over the Internet.</p>

<p>Watch {{sitename}} 24/7 at <a class="nav-link" routerLink="">www.{{sitename}}.tv</a></p>

<!-- <p>Please Like and Follow @SoCalTelevision on social!</p> -->
