<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9"><iframe width="560" height="315" src="https://www.mellotv.com/player/stream.html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
  <app-backtochannelguide-btn></app-backtochannelguide-btn>
    <h4>About {{ stationName }}</h4>
  <p>{{description}}</p>