.top {
    padding-top: 8%;
}
#ls_embed_1559704701 {
    width: 60%;
    height: 58%;
}
    
    @media screen and (max-width: 800px) {
        #ls_embed_1559704701 {
            width: 100%;
            height: 98%;
        }
    }
    
    @media screen and (max-width: 400px) {
        #ls_embed_1559704701 {
            width: 100%;
            height: 98%;
        }

    }