<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9">
      <iframe src="https://bakersfieldnow.com/watch" width="800" height="881" style="padding-top: none; border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>

      <!-- <app-video-bakersfield-now></app-video-bakersfield-now>     -->
    
    </span>