<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9">
    <iframe scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen allow="autoplay; fullscreen" 
    src="https://livestream.com/accounts/6396024/events/2598387/player?width=640&height=360&enableInfoAndActivity=true&autoPlay=true&mute=false"  
    width ="640" height="360"></iframe>
  </span>
  <app-backtochannelguide-btn></app-backtochannelguide-btn>