<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9"><iframe src="https://content.jwplatform.com/players/id2Frx0C-VaWDbo4e.html" width="320" height="260" frameborder="0" scrolling="auto"></iframe></span>
  <br/><a class="btn btn-primary" routerLink="/stations-main">Back to Channel Guide</a>
  <p>{{description}}</p>
