<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-8');
</script>

<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9">
      <div class="yt01"><iframe width="640" height="360" src="https://www.tikilive.com/embed?scheme=embedChannel&amp;channelId=54657&amp;autoplay=no&amp;showChat=no" frameborder="0" scrolling="no" allowfullscreen=""></iframe></div>
  </span>
<p>{{description}}</p>
