<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9"><iframe width="700" height="394" src="https://www.youtube.com/embed/70LB4FiYd1M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></span>
  <br/><a class="btn btn-primary" routerLink="/stations-main">Back to Channel Guide</a>
  <p>{{description}}</p>
