<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9">
      <iframe id="ls_embed_1558059137" src="https://livestream.com/accounts/6910894/events/2707630/player?width=420&height=237&enableInfoAndActivity=false&defaultDrawer=&autoPlay=true&mute=false" width="420" width="237" frameborder="0" scrolling="no" allowfullscreen> </iframe>
            <h4>About {{ stationName }}</h4>
  <p>{{description}}</p>