<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-8');
</script>

<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

<h3>Choose your Educational / Informational Channel</h3>
<ul style="list-style-type: none;" class="col-xl-3 col-lg-3 col-md-3 col-sm-10 col-xs-10">
  <h6 class="top">{{state}}</h6>
    <li class="nav-item">
      <a class="nav-link btn btn-info" href="//www.socaltelevision.com" target="_blank">SoCal Television</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-info" routerLink="/california-life">California Life</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/delmar-tv">Del Mar TV</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/kfon-tv">KFON TV - Fontana</a>
        </li>
    <li class="nav-item">
      <a class="nav-link btn btn-info" routerLink="/ktla5">KTLA 5</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/fox5sandiego">Fox 5 San Diego</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/fox11la">Fox 11 LA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-info" routerLink="/abc23-bakersfield">ABC23 Bakersfield</a>
          </li>
        <li class="nav-item">
            <a class="nav-link btn btn-info" routerLink="/bakersfield-now">Bakersfield Now</a>
          </li>
        <li class="nav-item">
            <a class="nav-link btn btn-info" routerLink="/kron4">KRON4 San Farancisco</a>
          </li>
          <li class="nav-item">
              <a class="nav-link btn btn-info" routerLink="/khsl-tv">KHSL-TV - Chico</a>
            </li>
  </ul>