<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

<div class="container">
<h3>Choose the State of the Channel you want to Watch</h3>
<div class="row">
    <div class="col-md">
<ul style="list-style-type: none;">
    <h5>United States TV</h5>
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/alabama-{{ tvhref }}">Alabama {{ tv }}</a>
      </li>
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/arizona-{{ tvhref }}">Arizona {{ tv }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/california-{{ tvhref }}">California {{ tv }}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/colorado-{{ tvhref }}">Colorado {{ tv }}</a>
        </li>
    <li class="nav-item">
      <a class="nav-link btn btn-info" routerLink="/florida-{{ tvhref }}">Florida {{ tv }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/georgia-{{ tvhref }}">Georgia {{ tv }}</a>
      </li>
    <li class="nav-item">
      <a class="nav-link btn btn-info" routerLink="/hawaii-{{ tvhref }}">Hawaii {{ tv }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/indiana-{{ tvhref }}">Indiana {{ tv }}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/maine-{{ tvhref }}">Maine {{ tv }}</a>
        </li>
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/massachusetts-{{ tvhref }}">Massachusetts {{ tv }}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/nevada-{{ tvhref }}">Nevada {{ tv }}</a>
        </li>
      <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/new-york-{{ tvhref }}">New York {{ tv }}</a>
        </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/north-carolina-{{ tvhref }}">North Carolina {{ tv }}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/oklahoma-{{ tvhref }}">Oklahoma {{ tv }}</a>
        </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/texas-{{ tvhref }}">Texas {{ tv }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/tennessee-{{ tvhref }}">Tennessee {{ tv }}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/utah-{{ tvhref }}">Utah {{ tv }}</a>
        </li>
      </ul>
      </div>
      <div class="col-sm">
      <ul style="list-style-type: none;">
          <h5>Cable TV Channels</h5>
          <li class="nav-item">
              <a class="nav-link btn btn-info" routerLink="/cable-channels/abc-news">ABC News</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link btn btn-info" routerLink="/cable-channels/americas-value-channel">America's Value Channel</a>
                  </li>
              <li class="nav-item">
                  <a class="nav-link btn btn-info" routerLink="/cable-channels/cgtn-america">CGTN America</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn btn-info" routerLink="/cable-channels/ditty-tv">Ditty TV</a>
                      </li>
                  <li class="nav-item">
                      <a class="nav-link btn btn-info" routerLink="/cable-channels/hsn">HSN</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link btn btn-info" routerLink="/cable-channels/hsn-2">HSN 2</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link btn btn-info" routerLink="/cable-channels/indi-music-tv">IndiMusic TV</a>
                              </li>
                          <li class="nav-item">
                              <a class="nav-link btn btn-info" routerLink="/cable-channels/jtv">Jewelry TV</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link btn btn-info" routerLink="/cable-channels/rightnow-tv">Right Now TV</a>
                                  </li>
                              <li class="nav-item">
                                  <a class="nav-link btn btn-info" routerLink="/cable-channels/shop-lc">Shop LC</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link btn btn-info" routerLink="/cable-channels/the-coin-vault">the Coin Vault</a>
                                      </li>
              <li class="nav-item">
                  <a class="nav-link btn btn-info" routerLink="/cable-channels/newsmax-tv">NewsMax TV</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn btn-info" routerLink="/cable-channels/twit-tv">Twit TV</a>
                      </li>
        <h5>International Television</h5>
        <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/international/france-{{tvhref}}">France {{ tv }}</a>
        </li>
        <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/international/rt-news">RT News</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/international/jamaica-tv/mellow-tv">Mellow TV - Jamaica</a>
        </li>
      </ul>
      </div>
      <div class="col-sm">
        
        <ul style="list-style-type: none;">
        <h5>Out of this World Television</h5>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/nasa-public">NASA Public Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/nasa-iss">NASA International Space Station (ISS)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/nasa-iss-earthview">NASA ISS Earth View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/nasa-media">NASA TV Media</a>
      </li>
  </ul>
  <ul style="list-style-type: none;">
    <h5>More World Television &amp; Movie Stations</h5>
    <!-- <li class="nav-item">
      <a class="nav-link btn btn-info" routerLink="/world-tv-movies">World TV &amp; Movies</a>
    </li>   -->
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/entertainment-tv-stations">Entertainment Television</a>
      </li>  
        <li class="nav-item">
            <a class="nav-link btn btn-info" routerLink="/comedy-tv-stations">Comedy Television</a>
          </li>  
</ul>
  </div>
  </div>
</div>