<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-8');
</script>

<p class="top"></p>
<!-- Revive AD Banner -->
<script type='text/javascript'>
 // <![CDATA[
  OA_show(3);
// ]]></script><noscript><a target='_blank' href='https://appandwebdevelopers.com/website-design-app-development/adserver/www/delivery/ck.php?n=722da23'><img border='0' alt='' src='https://appandwebdevelopers.com/website-design-app-development/adserver/www/delivery/avw.php?zoneid=3&amp;n=722da23' /></a></noscript>
<!-- Weather Component -->
<div style="width: 650px; margin: 10px;"><iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=87637" width="650" height="92" frameborder="0" scrolling="no"></iframe><a style="position: relative;text-indent: -9999em;width: 20px;margin: -92px 0 0 0;z-index: 1;height: 92px;float: right" href="https://www.willyweather.com/ca/riverside-county/corona.html" rel="nofollow">Corona weather info</a></div>
<!-- END Weather Component -->

<div class="container">
<h3>Choose the State of the Channel you want to Watch</h3>
<div class="row">
    <div class="col-sm">
<ul style="list-style-type: none;">
    <h5>United States Television</h5>
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/arizona-{{ tvhref }}">Arizona {{ tv }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/california-{{ tvhref }}">California {{ tv }}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/colorado-{{ tvhref }}">Colorado {{ tv }}</a>
        </li>
    <li class="nav-item">
      <a class="nav-link btn btn-info" routerLink="/florida-{{ tvhref }}">Florida {{ tv }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/georgia-{{ tvhref }}">Georgia {{ tv }}</a>
      </li>
    <li class="nav-item">
      <a class="nav-link btn btn-info" routerLink="/hawaii-{{ tvhref }}">Hawaii {{ tv }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/indiana-{{ tvhref }}">Indiana {{ tv }}</a>
      </li>
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/massachusetts-{{ tvhref }}">Massachusetts {{ tv }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/north-carolina-{{ tvhref }}">North Carolina {{ tv }}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-info" routerLink="/oklahoma-{{ tvhref }}">Oklahoma {{ tv }}</a>
        </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/texas-{{ tvhref }}">Texas {{ tv }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/tennessee-{{ tvhref }}">Tennessee {{ tv }}</a>
      </li>
      </ul>
      </div>
      <div class="col-sm">
      <ul style="list-style-type: none;">
        <h5>International Television</h5>
        <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/international/france-{{tvhref}}">France {{ tv }}</a>
      </li>
      </ul>
      </div>
      <div class="col-sm">
        
        <ul style="list-style-type: none;">
        <h5>Out of this World Television</h5>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/nasa-public">NASA Public Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/nasa-iss">NASA International Space Station (ISS)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/nasa-iss-earthview">NASA ISS Earth View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/nasa-media">NASA TV Media</a>
      </li>
  </ul>
  <ul style="list-style-type: none;">
    <h5>More World Television &amp; Movie Stations</h5>
    <li class="nav-item">
      <a class="nav-link btn btn-info" routerLink="/world-tv-movies">World TV &amp; Movies</a>
    </li>  
    <li class="nav-item">
        <a class="nav-link btn btn-info" routerLink="/entertainment-tv-stations">Entertainment Television</a>
      </li>  
        <li class="nav-item">
            <a class="nav-link btn btn-info" routerLink="/comedy-tv-stations">Comedy Television</a>
          </li>  
</ul>
  </div>
  </div>
</div>