<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-8');
</script>

<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9">
    <iframe scrolling="no" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen allow="autoplay; fullscreen" 
    src="http://www.kwtx.com/templates/2015_JW_frame?name=Livesteam_/livestream_embed&token=https://ad-playlistserver.aws.syncbak.com/playlist/893559/master.m3u8?access_token=eyJhbGciOiJIUzI1NiIsImtpZCI6IkdyYXkyMDE2MDgyOSIsInN1YiI6IioiLCJ0eXAiOiJKV1QifQ.eyJleHAiOjE3ODkzMjUxNDAsImlzcyI6IldMUyIsIm1kNSI6IjVjMTFkNDUyZjQ3OGUzOTEyZTNiNzYwZjYwNjMxMGEwIiwibWlkIjoiODkzNTU5In0.H_QpokC_nq0CC5JRbVc6ZPgiiZ7tpCPxpHqfEATlvkY"  
    width ="640" height="360"></iframe>
  </span>
  <p>{{description}}</p>