.top {
    padding-top: 8%;
}

@media screen and (min-width: 400px) {
    .videoContainer {
        margin-left: 0%;
        padding-right: 0%;
        width: 400px;
        height: 390px;
    }
    .video {
        border: none;
        width: 400px;
        height: 390px;
        border-radius: 25px;
        box-shadow:1px 1px 45px lightgray;
        margin-left: 3%;
    }
}

@media screen and (min-width: 800px) {
    #videoContainer {
        padding-left: 10%;
        padding-right: 2%;
        width: 770px;
        height: 411px;
    }
    .video {
        border: none;
        width: 710px;
        height: 400px;
        border-radius: 25px;
        box-shadow:1px 1px 45px lightgray;
        margin-left: 25%;
    }
}


#videoContainer {
    padding-left: 25%;
    width: 770px;
    height: 411px;
}

