<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9">
      <iframe src="https://ktla.com/on-air/live-streaming/" width="800" height="881" style="padding-top: none; border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
      </span>
      <app-backtochannelguide-btn></app-backtochannelguide-btn>
