<iframe 
    src="https://www.nbc11news.com/templates/2015_JW_frame?name=Livesteam_/livestream_embed&token=https://ad-playlistserver.aws.syncbak.com/playlist/898817/master.m3u8?access_token=eyJhbGciOiJIUzI1NiIsImtpZCI6IkdyYXkyMDE2MDgyOSIsInN1YiI6IioiLCJ0eXAiOiJKV1QifQ.eyJleHAiOjE3OTAzNzM5MjIsImlzcyI6IldMUyIsIm1kNSI6IjY5ZmI2MjZlYTFiODQ3OWU1NDYwNTkwZTA3NzljNDQ1IiwibWlkIjoiODk4ODE3In0.9ZRfGL_iLo1TeHpUk7lFJXcc2xAcel9jR_yoSoN5Btk" 
    width="800" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" 
    allowTransparency="true" allowFullScreen="true">
  </iframe>
