<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-8');
</script>

<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9"><iframe src='https://app.viloud.tv/player/embed/channel/b632aa37e2e504b3fba6974651b0ddc1?autoplay=0&volume=1&random=0&controls=1&title=0&share=1' width='640' height='360' frameborder='0' allow='autoplay' allowfullscreen></iframe></span>
<p>{{description}}</p>
