<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

<h3>Contact {{sitename}}</h3>
<p>
    We are pleased to offer your company the opportunity to advertise on {{sitename}}.tv<br/>
    Advertising packages run the gamut, from complete site-wide branding integration on both mobile and web, to editorial sponsorship, product listings, commercials and simple banner ads - all designed to position your company on the cutting-edge new age lifestyle. {{sitename}}.tv delivers live tv feeds throughout the nation, and is available to over 325 million people nation wide, with well of over 40 million page views per month, our advertising space is limited. If you would like more information about Advertising on {{sitename}}.tv please email us at:<br/>
    <br/>
    <!-- SoCalTelevision@gmail.com -->
</p>
