<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

<span class="videoContainer">
  <h1>{{stationName}}</h1>
  <h3><a target="_blank" href="https://{{reviewPath}}/maps/contrib/102030280377814322093/reviews/@33.9156664,-117.5619134,16z/data=!3m1!4b1!4m3!8m2!3m1!1e1">Click Here to See Our SoCal Local Guide Reviews on Google</a></h3>
  <iframe src="https://www.google.com/maps/contrib/102030280377814322093/photos/@33.9156664,-117.5619134,16z/data=!3m1!4b1!4m3!8m2!3m1!1e1" style="width:800;height:600;border:none;overflow:hidden">
  </iframe>

</span>