<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9">

      <iframe style="top:0;left:0;width:640px; height:360px;" border="0" height="360px" frameborder="0" webkitallowfullscreen="" allowfullscreen="" mozallowfullscreen="" scrolling="no" scrolling="no" src="https://livestream.com/accounts/9934971/events/3371071/player?width=640&height=360&enableInfoAndActivity=true&autoPlay=true&mute=false"></iframe>
</span>
<app-backtochannelguide-btn></app-backtochannelguide-btn>
<p>{{description}}</p>