<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9"><iframe id="ls_embed_1558405264" src="https://livestream.com/accounts/2479061/events/1794286/player?width=640&height=360&enableInfoAndActivity=true&autoPlay=true&mute=false" width="640" height="360" frameborder="0" scrolling="no" allowfullscreen> </iframe></span>
  <br/><a class="btn btn-primary" routerLink="stations-main">Back to Channel Guide</a>
  <p>{{description}}</p>
