<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9">
    <app-video-colorado-9news></app-video-colorado-9news>
  </span>
  <!-- <iframe width="640" height="360" style="border-width:1px; border-style:solid; border-color:#e6e6e6;" src="https://media.9news.com/embeds/video/1699367/iframe" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe> -->