<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92954301-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-92954301-8');
</script>

<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9"><iframe 
    src="https://media.9news.com/embeds/video/1699367/iframe" 
    width="800" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" 
    allowTransparency="true" allowFullScreen="true">
  </iframe></span>
  <!-- <iframe width="640" height="360" style="border-width:1px; border-style:solid; border-color:#e6e6e6;" src="https://media.9news.com/embeds/video/1699367/iframe" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe> -->