<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span>
      <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  

  <!-- Original Feed https://www.facebook.com/SoCalTelevision/videos/2054179387955446/ -->

  <!-- Your embedded video player code -->
  <div class="fb-video" data-href="https://www.facebook.com/WRTV6/videos/10155827732739092/" data-width="600" data-show-text="false" autoplay="true">
    <div class="fb-xfbml-parse-ignore">
      <blockquote>
        Our SoCal Television LIVE STREAM is Currently Offline.<br/>
        Please Check back Again Soon!<br/><br/>
        To go back to the <a href="https://www.socaltelevision.com">SoCalTelevision Home page CLICK HERE</a>.
      </blockquote>
    </div>
  </div>
    <!-- <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSoCalTelevision%2Fvideos%2F2052326111474107%2F&width=400" width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> -->
  </span>
  <br/><a class="btn btn-primary" routerLink="/stations-main">Back to Channel Guide</a>
  <br/><br/>
  <p>{{description}}</p>
  <p>{{description2}}</p>
  <p>{{description3}}</p>