<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9"><iframe src="https://player.twitch.tv/?channel=twit" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe></span>
  <br/><a class="btn btn-primary" routerLink="/stations-main">Back to Channel Guide</a>
  <p>{{description}}</p>
