<p class="top"></p>

<app-adrotator-leaderbanner></app-adrotator-leaderbanner>

<app-weatherwidget-leaderboard></app-weatherwidget-leaderboard>

  <h3>You're Watching</h3>
  <h1>{{stationName}}</h1>
  <span class="embed-responsive embed-responsive-16by9">
    <iframe 
    src="https://livestream.com/accounts/9262780/events/3189705/player?width=770&height=433&autoPlay=true&mute=false&customAdTagParameters=Site%3D41641936%26pid%3Don-airlive-streaming" 
    width="800" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" 
    allowTransparency="true" allowFullScreen="true">
  </iframe>
</span>
  <br/>
  <p>{{description}}</p>

